<!DOCTYPE html>
<html lang="en">

{% include 'header.html' %}
{% import "bootstrap/wtf.html" as wtf %}
<body>
<!--    Navbar    -->
{% include 'navbar.html' %}
<div class="row post-title-banner" style='background-image: url({{post.img_path}})'>
        <div class="post-details">
            <h3 class="post-title">{{post.title}}</h3>
            <p class="post-date"><i>Posted On: {{post.date}}</i></p>
            <p class="post-author"><i>Posted By: Justin Diep</i></p>
        </div>
</div>


<div class="row post-body">
    {{post.body|safe}}
    {% if cur_user.admin%}
    <a class="btn edit-post-btn" href="{{url_for('edit_post', post_id=post.id)}}">Edit Post</a>
    <a class="btn del-post-btn" href="{{url_for('delete_post', post_id=post.id)}}">Delete Post</a>
    {% endif %}
</div>

<section id="comment-sec">
    <h3>Comments:</h3>
    {% for comment in post.comments %}
    <div class="comment-box row">
        <img src="{{comment.comment_author.profile_img}}" class="comment-img col-3">
        <div class="comment-details col-9">
            <em class="comment-text">{{comment.text|safe}}</em>
            <p class="comment-author text-muted">Posted by {{comment.comment_author.username}}</p>
        </div>
    </div>
    {% endfor %}
</section>

{% if logged_in %}
{{ ckeditor.load() }}
{{ ckeditor.config(name='new_post_body') }}
<form method="POST" class="form">
    {{ form.csrf_token }}
    {{ form.comment(size=30) }}
    {{ form.comment_submit }}
</form>
{% endif %}

</body>
</html>